@font-face
  font-family: "Oswald"
  src: url("./fonts/Oswald-VariableFont_wght.ttf") format("ttf")

*
  margin: 0 auto
  outline: none
  font-family: 'JetBrains Mono', sans-serif

a
  text-decoration: none
  color: black

a, button, input[type="button"]
  cursor: pointer

.container
  max-width: 1144px

.header
  display: flex
  justify-content: space-between
  min-height: 100px
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17)
  border: solid 1px #ececec
  background-color: #ececec

  &__logo
